html,body{
    height:100%;
    margin:0;

}

.item_block > img{
    width:200px;
    height:300px;
}

#header-title{
	text-align:center;
	background:#89f5a6;
	height:90px;
}
#footer {
	position: absolute;
	bottom:0;
	width:100%;
	background:#f59189;
	text-align:center;
}

#right-aligned-header-list{
	position:relative;
	top:10px;
}
.errorMessage{
	color:red;
}

.main-container {
	padding: 0;
	min-height: 100%;
	position: relative;
}

.cart-link{
	margin-top:10px;
}