html,body{
    margin:0;
}

html{
	width:100%;
	display:table;
	height:100%
}

body{
	width:100%;
	min-height:100%;
	display:table-cell;
}



.item-block{
    max-width:200px;
    max-height:200px;
}

#header-title{
	text-align:center;
	background:#48C4EA;
	padding-bottom:10px;
}
#footer {
	position: absolute;
	bottom:0;
	width:100%;
	background:#547AA5;
	text-align:center;
	
}

#right-aligned-header-list{
	position:relative;
	top:10px;
}
.errorMessage{
	color:red;
}

.main-container {
	padding: 0;
	min-height: 100%;
	position: relative;
	background-image:url('../images/kitchen-background2.jpg');
	background-repeat: no-repeat;
	background-size:cover;
	
}

.body-container{
	background-color: rgba(255, 255, 255, 0.7);
	min-height: 100%;
		padding: 0;
	
	
	
}
.cart-link{
	margin-top:10px;
}